
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.body{
    background-color:black;
    color: white;
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
    position: relative;
}
.logo{
    padding: 6px 5px;
}


.home ul li{
    display: flex;
    width: 14px;
    gap: 15px;
    list-style: none;
    padding: 6px 10px;
    font-weight: 600;

}

.library{
    min-height: 70vh;
    position: relative;
}
 
.heading{
    display: flex;
    gap: 15px;
    padding: 6px 10px;
    font-weight: 600;
}
.heading img{
    width: 25px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}

.footer a{
    color: grey;
}

.header{
 display: flex;
 justify-content: space-between; 
 background: #161616;
}

.header > *{
padding: 20px;
}

.Spotifyplaylist{
    padding: 6px 17px;
  


}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px;
    max-height: 72vh;
    overflow-y: auto;
    
}

.card{ 
 width: 135px;
 padding: 10px;
 border-radius:5px;
 background-color: #181818;
 position: relative;
 transition: all .8s;
}


.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card p{
font-size: small;
color: #686767 ;

}

.play{
    position: absolute;
    top: 97px;
    right: 17px;
    opacity:var(--a);
    transition: all .8s ease-out;

}

.card:hover{
    background-color: black;
    cursor: pointer;
    --a:1;
}

.buttons > *{
 margin: 0 12px;
}
.signupbtn{
    background-color:#161616 ;
    color: #686767;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: black;
    font-weight: bold;
    padding: 12px;
    width: 96px;
    cursor: pointer;
    border: none;
    outline: none;
}


.hamburger{
    display: none;
    
}
.hamburgercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.close img{
    display: none;
}


 .playbar{
    position: fixed;
    bottom: 15px;
    background-color: #1ed760;
    width: 67%;
    padding: 8px;
    border-radius: 15px;

 }

 .songbtn{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
 .songlist{
    height: 400px;
    overflow: auto;
 }

.songlist ul{
    padding: 0px 12px;
}

.songlist ul li{
    
    list-style-type: decimal;
    display: flex;
    /* gap: 0px; */
    cursor: pointer;
    border: 1px solid white;
    margin: 4px 0px;
    padding: 9px;
    border-radius: 5px;
    font-size: 12px;
    align-content: center;
    justify-content: space-between;
}

.playnow{
    display:flex ;
    justify-content: center;
    align-items: center;
    
}

.playnow spam{
    font-size: 15px;
    width: 64px;
    padding: 4px;
}

.seekbar{
    height: 4px;
    width: 96%;
    background: rgb(35 48 32);
    position: absolute;
    top: 37.9px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.circle{
    
    position: relative;
    bottom: 4px;
    width: 12px;
    height: 12px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    left: 0%;
    transition: left 0.5s;
    
}

.songbtn img{
    cursor: pointer;
}

.songinfo{
    width: 156px;
    /* margin-bottom: 2px; */
    min-height: 40px;
    color: black;
    padding-left: 10px;
}
.songtime{
    color:black;
    padding-right: 10px;
}
.abovebar{
display: flex;
justify-content: space-between;
}

@media (max-width: 1200px) {
    .left{
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 333px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 88vw;
        bottom: 0;
    }

    .seekbar{
        width: calc(88vw + 8px);
    }

    .left .close img{
        position: absolute;
        right: 21px;
        top: 17px;
        display: block;
    }

    .hamburger{
        display: block;
    }


    
    
}